@Scavi/@Scavi/Service References/ScaviServiceReference/ScaviService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScaviService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://169.254.64.225:9999/ScaviService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://169.254.64.225:9999/ScaviService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScaviService_GetPointsOfInterestRSS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsOfInterestRSS" />
  </wsdl:message>
  <wsdl:message name="IScaviService_GetPointsOfInterestRSS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsOfInterestRSSResponse" />
  </wsdl:message>
  <wsdl:message name="IScaviService_SetFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFeedback" />
  </wsdl:message>
  <wsdl:message name="IScaviService_SetFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IScaviService_GetTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrack" />
  </wsdl:message>
  <wsdl:message name="IScaviService_GetTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackResponse" />
  </wsdl:message>
  <wsdl:portType name="IScaviService">
    <wsdl:operation name="GetPointsOfInterestRSS">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaviService/GetPointsOfInterestRSS" message="tns:IScaviService_GetPointsOfInterestRSS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaviService/GetPointsOfInterestRSSResponse" message="tns:IScaviService_GetPointsOfInterestRSS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaviService/SetFeedback" message="tns:IScaviService_SetFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaviService/SetFeedbackResponse" message="tns:IScaviService_SetFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaviService/GetTrack" message="tns:IScaviService_GetTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaviService/GetTrackResponse" message="tns:IScaviService_GetTrack_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScaviService" type="tns:IScaviService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPointsOfInterestRSS">
      <soap:operation soapAction="http://tempuri.org/IScaviService/GetPointsOfInterestRSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFeedback">
      <soap:operation soapAction="http://tempuri.org/IScaviService/SetFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrack">
      <soap:operation soapAction="http://tempuri.org/IScaviService/GetTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScaviService">
    <wsdl:port name="BasicHttpBinding_IScaviService" binding="tns:BasicHttpBinding_IScaviService">
      <soap:address location="http://169.254.64.225:9999/ScaviService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>